apache/html/monitor/node_modules
apache/html/monitor/public/storage
apache/html/monitor/public/hot
apache/html/monitor/storage/*.key
apache/html/monitor/vendor
apache/html/monitor/.idea
apache/html/monitor/Homestead.json
apache/html/monitor/Homestead.yaml
/**/.env
/**/.DS_Store
apache/html/apache-log/*
